$primary-color: #eeeeee;
$secondary-color: #242628;
$dark-color: #141618;


body{
    background-color: $primary-color;
}

.navbar{
    background-color: $secondary-color;
}

.bottom-container{
    background-color: $secondary-color;
}

footer{
    background-color: $dark-color;
}


.bottom-container{
    h2{
    font-size: 16px;
    padding-bottom: .7em;
     background: url("http://2.bp.blogspot.com/-pdM2M4ONUaA/UwUEFvzCktI/AAAAAAAABNk/o5Lf07Qpd5w/s1600/title-bg.png") repeat-x bottom;
    background-color: rgba(0, 0, 0, 0);
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: repeat-x;
    background-attachment: scroll;
    background-image: url("http://2.bp.blogspot.com/-pdM2M4ONUaA/UwUEFvzCktI/AAAAAAAABNk/o5Lf07Qpd5w/s1600/title-bg.png");
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
}

}